node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
.DS_Store

assets/icons/cache

assets/svg-transformer-list.ts

public/icons/cache

/icons/cache

icons/cache

firebase.json

.firebaserc

.firebase

package-lock.json
