@mixin value_adaptive(
  $properties,
  $starSize,
  $minSize,
  $startBreakpoint: $desktop,
  $endBreakpoint: $dno,
  $important: null,
  $useMinWidth: null
  ) {

  $addSize: $starSize - $minSize;

  @each $property in $properties {
    $importantSuffix: if($important, !important, null);
    $calc: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$endBreakpoint + px}) / (#{$startBreakpoint} - #{$endBreakpoint}))) $importantSuffix;

    #{$property}: ($starSize + px) $importantSuffix;

    @media(max-width: #{$startBreakpoint + px}) { #{$property}: $calc }
    @if $useMinWidth {
      @media(min-width: #{$startBreakpoint + 1 + px}) { #{$property}: $calc }
    }
  }

}

@mixin value_change($properties, $value, $newValue, $breakpoint) {
  @each $property in $properties {

    #{$property}: $value;
    @media(max-width: #{$breakpoint + px}) {
      #{$property}: $newValue;
    }

  }
}

@function hex_convertation($hex) {
  @return red($hex), green($hex), blue($hex);
}
